---
- name: Start ZooKeeper container using specified host data directories
  docker_container:
    name: "zookeeper_{{ zookeeper_id }}"
    image: zookeeper
    state: started
    restart_policy: always
    network_mode: host
    published_ports: "{{ zookeeper_client_port }},{{ zookeeper_leader_connect_port }},{{ zookeeper_leader_election_port }}" 
    env:
      ZOO_MY_ID: "{{ zookeeper_id }}"
    etc_hosts: "{{ zookeeper_etc_hosts }}"
    volumes:
      - "{{ zookeeper_conf_dir_volume }}"
      - "{{ zookeeper_data_dir_volume }}"
      - "{{ zookeeper_data_log_dir_volume }}"
  when: zookeeper_data_directories_configuration == "dirs"

- name: Start ZooKeeper container using default host data directories
  docker_container:
    name: "zookeeper_{{ zookeeper_id }}"
    image: zookeeper
    state: started
    restart_policy: always
    network_mode: host
    published_ports: "{{ zookeeper_client_port }},{{ zookeeper_leader_connect_port }},{{ zookeeper_leader_election_port }}" 
    env:
      ZOO_MY_ID: "{{ zookeeper_id }}"
    etc_hosts: "{{ zookeeper_etc_hosts }}"
    volumes:
      - "{{ zookeeper_conf_dir_volume }}"
  when: zookeeper_data_directories_configuration == "implicit"

- name: Start ZooKeeper container using independent docker container data directories
  docker_container:
    name: "zookeeper_{{ zookeeper_id }}"
    image: zookeeper
    state: started
    restart_policy: always
    network_mode: host
    published_ports: "{{ zookeeper_client_port }},{{ zookeeper_leader_connect_port }},{{ zookeeper_leader_election_port }}" 
    env:
      ZOO_MY_ID: "{{ zookeeper_id }}"
    etc_hosts: "{{ zookeeper_etc_hosts }}"
    volumes:
      - "{{ zookeeper_conf_dir_volume }}"
    volumes_from: "zookeeper_data_{{ zookeeper_id }}"
  when: zookeeper_data_directories_configuration == "containers"
