# Reporters
reporters:
  - reporter: io.smartcat.cassandra.diagnostics.reporter.LogReporter
  - reporter: io.smartcat.cassandra.diagnostics.reporter.RiemannReporter
    options:
      riemannHost: {{ cassandra_diagnostics_riemann_host }}
      riemannPort: {{ cassandra_diagnostics_riemann_port }}
      batchEventSize: 1

# Modules
modules:
  - module: io.smartcat.cassandra.diagnostics.module.heartbeat.HeartbeatModule
    measurement: heartbeat
    options:
      period: 15
      timeunit: MINUTES
    reporters:
      - io.smartcat.cassandra.diagnostics.reporter.LogReporter
      - io.smartcat.cassandra.diagnostics.reporter.RiemannReporter
  - module: io.smartcat.cassandra.diagnostics.module.metrics.MetricsModule
    options:
      period: 1
      timeunit: SECONDS
      jmxHost: '{{ cassandra_diagnostics_jmx_host }}'
      jmxPort: '{{ cassandra_diagnostics_jmx_port }}'
      metricsPatterns:
        - "^org.apache.cassandra.metrics.Cache.+"
        - "^org.apache.cassandra.metrics.ClientRequest.+"
        - "^org.apache.cassandra.metrics.CommitLog.+"
        - "^org.apache.cassandra.metrics.Compaction.+"
        - "^org.apache.cassandra.metrics.ColumnFamily.PendingTasks"
        - "^org.apache.cassandra.metrics.ColumnFamily.ReadLatency"
        - "^org.apache.cassandra.metrics.ColumnFamily.WriteLatency"
        - "^org.apache.cassandra.metrics.ColumnFamily.ReadTotalLatency"
        - "^org.apache.cassandra.metrics.ColumnFamily.WriteTotalLatency"
        - "^org.apache.cassandra.metrics.DroppedMetrics.+"
        - "^org.apache.cassandra.metrics.ReadRepair.+"
        - "^org.apache.cassandra.metrics.Storage.+"
        - "^org.apache.cassandra.metrics.ThreadPools.+"
    reporters:
      - io.smartcat.cassandra.diagnostics.reporter.LogReporter
      - io.smartcat.cassandra.diagnostics.reporter.RiemannReporter
  - module: io.smartcat.cassandra.diagnostics.module.slowquery.SlowQueryModule
    measurement: queryReport
    options:
      slowQueryThresholdInMilliseconds: 1
      tablesForLogging:
        - smartcat.test
    reporters:
      - io.smartcat.cassandra.diagnostics.reporter.LogReporter
      - io.smartcat.cassandra.diagnostics.reporter.RiemannReporter
  - module: io.smartcat.cassandra.diagnostics.module.requestrate.RequestRateModule
    measurement: requestRate
    options:
      period: 1
      timeunit: SECONDS
    reporters:
      - io.smartcat.cassandra.diagnostics.reporter.LogReporter
      - io.smartcat.cassandra.diagnostics.reporter.RiemannReporter
