{"name":"InfluxDB","type":"influxdb","url":"{{ grafana_influxdb_url }}","access":"direct","isDefault":true,"basicAuth":false,"database":"{{ grafana_influxdb_db }}","user":"{{ grafana_influxdb_user }}","password":"{{ grafana_influxdb_pwd }}"}
