{"name":"ElasticSearch","type":"elasticsearch","typeLogoUrl":"","access":"proxy","url":"{{ grafana_elasticsearch_url }}","password":"","user":"","database":"{{ grafana_elasticsearch_db }}","basicAuth":false,"basicAuthUser":"","basicAuthPassword":"","withCredentials":false,"isDefault":false,"jsonData":{"esVersion":2,"timeField":"@timestamp"}}