filebeat:
  prospectors:
  - paths: [{{ filebeat_paths }}]
    encoding: plain
    input_type: log
    document_type: log
    scan_frequency: {{ filebeat_scan_frequency }}
    # merges any line that begins with whitespace up to the previous line to single event
    multiline:
      pattern: '^[[:space:]]'
      negate: false
      match: after

output:
  elasticsearch:
    hosts: [{{ filebeat_elasticsearch_hosts }}]
    worker: 1
    index: "filebeat"

    template:
      name: "filebeat"
      path: "/etc/filebeat/filebeat.template.json"
      overwrite: false
